.features {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 40px 20px;
    background-color: #fff;
    text-align: center;
  }
  
  .feature {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .feature img {
    width: 100%; /* Ensures the image takes the full width of its container */
    height: 400px; /* Sets a fixed height for all images */
    object-fit: cover; /* Ensures the image covers the element while maintaining aspect ratio */
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .feature h2 {
    color: #333;
    margin-bottom: 10px;
  }
  
  .feature p {
    font-size: 1em;
    color: #666;
  }
  