.header {
    background-size:cover;
    background-position:bottom;
    padding: 50px 300px 500px 100px ;
    color: rgb(26, 0, 0);
    background-color: #b0bfde;
    position: relative;
    
  }
  .h1 {
    padding-top: 1px;
    
    text-align:start ;
    text-shadow: 2px 2px 4px rgba(234, 0, 0, 0.5);
    font-size:70px;
    font-style:italic;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }